* {
    font-family: 'Futura', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-container {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.tile-container {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px 75px;
    box-sizing: content-box;
    gap: 5px;
}

.tile {
    border: 1px solid black;
    width: 75px;
    height: 75px;
    background-color: rgb(255, 236, 250);
}

@keyframes bringitin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes colorchange {
    0% {
      background: rgb(255, 236, 250);
    }
    50% {
      background: #e6dae4;
    }
    100% {
      background: rgb(255, 236, 250);
    }
  }

  .tile-hover:hover {
    animation: colorchange 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    z-index: 0;
  }

/* .tile-cross {
    background-image: url(./assets/cross-96.png);
    background-size: contain;
} */

/* .tile-naught {
    background-image: url(./assets/naught-96.png);
    background-size: contain;
    z-index: 1;
} */

#overlay {
    animation: bringitin 1s;
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    backdrop-filter: blur(5px);
    /* transition: all 0.5s ease-in; */
    
/* ADD: blurred background, transition ease-in */

  }

  #turn-counter {
      height: 2rem;
      margin-bottom: 1rem;
  }

#overlay :first-child {
    font-size: 4rem;
    text-align: center;
}

  #overlay :first-child,
  #overlay :nth-child(2) {
      color: white;
      text-shadow: 0px 0px 10px #1f1f1f;
  }

  .input-container {
      margin-top: 3ch;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 1;
      transition: opacity 1s ease-in-out;
  }


  .input-wrapper {
    width: 100%;
    display: flex;
    gap: 2ch;
    justify-content: space-between;
}

button {
    border-radius: 0.5ch;
    border: 1px black solid;
}

  #submit {
      padding: 0.5ch 4ch;
      width: max-content;
  }

  #reset {
      margin-top: 4ch;
    padding: 0.5ch 4ch;
    width: max-content;
    /* display: none; */
}